
    <header>
        <nav id="mainNavbar" class="navbar navbar-light bg-light fixed-top">
            <div class="container d-flex justify-content-between align-items-center">

                <!-- Título visible  -->
                <span class="navbar-brand d-sm-none text-dark">Exposicion</span>

                <!-- Menú centrado -->
                <div class="d-none d-sm-flex justify-content-center w-100">
                    <ul class="nav nav-pills">
                        <li class="nav-item"><a href="index.html" class="nav-link text-dark"
                                aria-current="page">Exposición</a></li>
                        <li class="nav-item"><a href="parts.html" class="nav-link text-dark">Piezas</a></li>
                        <li class="nav-item"><a href="#" class="nav-link text-dark">Educación</a></li>
                        <li class="nav-item"><a href="#" class="nav-link text-dark">FAQs</a></li>
                        <li class="nav-item"><a href="#" class="nav-link text-dark">Actividades</a></li>
                    </ul>
                </div>

                <!-- Botón hamburguesa -->
                <button class="navbar-toggler d-sm-none ms-auto" type="button" data-bs-toggle="offcanvas"
                    data-bs-target="#offcanvasMenu" aria-controls="offcanvasMenu" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon text-dark"></span>
                </button>
            </div>
        </nav>

        <!-- Menu lateral para móviles -->
        <div class="offcanvas offcanvas-start text-bg-dark" tabindex="-1" id="offcanvasMenu"
            aria-labelledby="offcanvasMenuLabel">
            <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="offcanvasMenuLabel">Exposición</h5>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas"
                    aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
                <ul class="nav nav-pills flex-column">
                    <li class="nav-item"><a href="#" class="nav-link active bg-secondary text-light"
                            aria-current="page">Home</a></li>
                    <li class="nav-item"><a href="#" class="nav-link text-light">Piezas</a></li>
                    <li class="nav-item"><a href="#" class="nav-link text-light">Educación</a></li>
                    <li class="nav-item"><a href="#" class="nav-link text-light">FAQs</a></li>
                    <li class="nav-item"><a href="#" class="nav-link text-light">Actividades</a></li>
                </ul>
            </div>
        </div>

    </header>

